.background-first-travel-card {
    background-image: url("../../assets/travelcard1img.jpg"); 
}

.background-second-travel-card {
    background-image: url("../../assets/travelcard2img.jpg");
}

.background-third-travel-card {
    background-image: url("../../assets/travelcard3img.jpg");
}

.background-fourth-travel-card {
    background-image: url("../../assets/travelcard4img.jpg");
}

.background-first-travel-card,
.background-second-travel-card,
.background-third-travel-card,
.background-fourth-travel-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    width: 1150px;
    height: 536px;
    background-repeat: no-repeat;
}